$textblue: #5748cb;
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin maxwidth {
  width: 100%;
}
@mixin cardstyle {
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}
html{
    background-color: #f3f5fa;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
* {
  font-family: 'Poppins';
  font-size: 14px;
}
.item {
  width: calc(100% - 2rem);
  background-color: #eee;
  margin: 0.5rem;
  padding: 0.5rem;
  @include cardstyle;
  header {
    @include flex-center;
    h4 {
      color: $textblue;
    }
  }
  main {
    display: flex;
    flex-wrap: wrap;
    img {
      width: 40%;
      margin-right: 0.75rem;
    }
    p {
      width: calc(60% - 0.75rem);
    }
  }
  footer {
    button {
      @include maxwidth;
      color: $textblue;
      padding: 0.5rem 0;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}
.cardHeader {
  height: 10%;
  @include flex-center;
}
.cardBody {
  display: flex;
  height: 80%;
  flex-wrap: wrap;
}
.content {
  @include maxwidth;
}
.imgContainer {
  @include maxwidth;
}
img {
  @include maxwidth;
  height: auto;
}
.cardFooter {
  height: 10%;
  @include flex-center;
}
.introduction {
  padding: 0.5rem;
  background: linear-gradient(#81fbb8, #28c76f);
  margin: 0.5rem;
  @include cardstyle;
}
.card {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#abdcff, #0396ff);
  @include cardstyle;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .item {
    width: calc(50% - 2rem);
  }
  * {
    font-size: 16px;
  }
  .content {
    width: 70%;
  }
  .imgContainer {
    width: 30%;
  }
}
@media only screen and (min-width: 768px) {
    // for desktop
  .item {
    width: calc(25% - 2rem);
    main{
        img{@include maxwidth;}
        p{@include maxwidth;}
    }
  }
  * {
    font-size: 18px;
  }
  .content {
    width: 70%;
  }
  .imgContainer {
    width: 30%;
  }

}
